<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="index.html"><i class="fa fa-home back-icon"></i>De retour</a>
                        </li>
                        <li class="menu-title">Paramètres </li>
                        <li class="active">
                            <a href="settings.html">Paramètres d'ecole</a>
                        </li>
                       
                        <li>
                            <a href="theme-settings.html">Réglage des thèmes</a>
                        </li>
                                              
                        <li>
                            <a href="change-password.html">Changer le mot de passe </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>